extends ../blocks/layout/layout
include ../blocks/image/image

block content
	h1 Основы работы со смарт-контрактом

	h2 Взаимодействие со смарт-контрактом

	p Взаимодействие со смарт-контрактом происходит посредством вызова функций контракта с указанием параметров. Для взаимодействия необходимо знать адрес смарт-контракта. А на основе адреса нужно получить ABI-интерфейс. По ABI интерфейсу можно вызвать целевую функцию.

	h2 Получение ABI интерфейса

	p Для получения интерфейса вам необходимо:
	ol
		li
			p открыть #[a(href="https://etherscan.io") etherscan.io]
		li
			p В правом верхнем углу в окне с надписью «search by address» ввести адрес целевого смарт-контракта и нажать «go»
		li
			p Затем нажать на вкладку «contract source»:
				+image
		li
			p Найти поле с надписью «Contract ABI» и нажать на кнопку «copy» справа от надписи
			p Интерфейс ABI контракта теперь скопирован в буффер обмена.

	h2 Вызов функции

	ol
		li
			p Откройте кошелек #[a(href="https://www.myetherwallet.com") myetherwallet.com]
				+image
		li
			p Выберите вкладку «контракты» и заполните поля #[b адрес] и #[b ABI] (мы его получали в предыдущей части инструкции) и нажмите на «подключиться»
				+image
		li
			p После этого в нам станет доступен список функций контракта. Выбираем целевую функцию и заполняем параметры
				+image
		li
			p После выбора функции и заполнения параметров получите доступ к кошельку-владельцу смарт-контракта удобным вам способом и нажмите на кнопку «записать»  и «Да, я уверен, выполнить транзакцию».
			p #[b Внимание!] Перед тем как нажать «записать» внимательно проверьте введенные данные. Часто формат данных отличается от привычного пользователю вида.
				+image
		li
			p После этого внизу появится зеленая панель со ссылкой «Verify transaction». Нажмите на эту ссылку и откроется Etherscan. Ждите пока транзакция не выполнится.

	h2 Как посмотреть интерфейс смарт-контракта
	ol
		li
			p открыть #[a(href="https://etherscan.io") etherscan.io]
		li
			p В правом верхнем углу в окне с надписью «search by address» ввести адрес целевого смарт-контракта и нажать «go»
		li
			p Появится окно в котором надо нажать на вкладку «Read smart contract»
				+image

	h2 Подготовка к работе — только если контракт заливали самостоятельно!
	p Адрес смарт-контракта конфигуратора: #[b 0x766a0518ce0d022247d55d068d0b23db0e5ca7e5]
	p Для начала работы со смарт-контрактами их необходимо проинициализировать. Для этого нужно у контракта-конфигуратора вызывать функцию deploy. Во время ее вызова MyEtherWalet может не определить количество газа, необходимое для вызова функции. И поэтому поставит «-1».
		+image
	p Исправьте число на 4600000 и нажмите  «Записать транзакцию» а затем «Да, я уверен! Выполнить транзакцию».
		+image
	p После выполнения транзакции (вам нужно дождаться ее выполнения). Вы можете открыть интерфейс смарт-контракта и вы увидите 4 поля с ненулевыми адресами:
		+image
	p Важные для нас адреса смарт-контрактов:
	ul
		li
			p #[b Presale] — адрес Presale контракта. Именно на него инвесторы должны закидывать эфир во время Presale-распродажи. Все даты распродажи, а также цена и функция завершения распродажи вызываются по этому адресу.
		li
			p #[b ICO] - адрес ICO контракта. На него инвесторы должны закидывать эфир во время ICO-распродажи. Все даты распродажи, а также цена и функция завершения распродажи вызываются по этому адресу.
		li
			p #[b Token] — адрес смарт-контракта токена. Этот адрес пользователи будут добавлять себе в кошелек для отображения токена.
	h2 Конфигурация
	h3 Адреса кошельков:
	p
		table(style={width: '100%'})
			tr
				th(colspan=2 style={'text-align': 'left'}) Presale
			tr
				td ETH Wallet
				td 0x72EcAEB966176c50CfFc0Db53E4A2D3DbC0d538B
			tr
				td Founders tokens wallet
				td 0x4227859C5A9Bb4391Cc4735Aa655e980a3DD4380
			tr
				td Bounty tokens wallet
				td 0x7E513B54e3a45B60d6f92c6CECE10C68977EEA8c
			tr
				td Advisors tokens wallet
				td 0x6e740ef8618A7d822238F867c622373Df8B54a22
			tr
				td Developers tokens wallet
				td 0xCaDca9387E12F55997F46870DA28F0af1626A6d4
			tr
				td Contract manager
				td 0x69F5C3850D1f1d5BAeAe71E947e915A539088Bb0
	p
		table(style={width: '100%'})
			tr
				th(colspan=2 style={'text-align': 'left'}) ICO
			tr
				td ETH Wallet
				td 0x72EcAEB966176c50CfFc0Db53E4A2D3DbC0d538B
			tr
				td Founders tokens wallet
				td 0x4227859C5A9Bb4391Cc4735Aa655e980a3DD4380
			tr
				td Bounty tokens wallet
				td 0x7E513B54e3a45B60d6f92c6CECE10C68977EEA8c
			tr
				td Advisors tokens wallet
				td 0x6e740ef8618A7d822238F867c622373Df8B54a22
			tr
				td Developers tokens wallet
				td 0xCaDca9387E12F55997F46870DA28F0af1626A6d4
			tr
				td Contract manager
				td 0x69F5C3850D1f1d5BAeAe71E947e915A539088Bb0
	h3 Адреса контрактов:
	table
		tr
			td Токен
			td #[a(href="https://etherscan.io/token/0x5160680fb520e41f49a8411dbd0592b730f5480e") 0x5160680fb520e41f49a8411dbd0592b730f5480e]
		tr
			td Presale
			td #[a(href="https://etherscan.io/address/0x720608228bda773fe22e816ee72463040f11c19e") 0x720608228bda773fe22e816ee72463040f11c19e]
		tr
			td ICO
			td #[a(href="https://etherscan.io/address/0x6e08a8b4da2a13c655af2dd74f7bdb979efe141b") 0x6e08a8b4da2a13c655af2dd74f7bdb979efe141b]

	h2 Рекомендованные значения для отправки транзакции инвестора
	p Обычно кошельки сами способны определить количество газа и цену, но не всегда. Поэтому вводятся рекомендованные значения:
	ol
		li Меньше чем #[b 0.1 Eth] контракт не принимает.
		li Количество газа - #[b 250 000]

	h2 Памятка владельцу контрактов
	p Владелец контрактов должен после каждой распродажи вызвать функцию #[b finishMinting()] у соответствующего контракта распродажи. А именно:
	ol
		li
			p По окончанию распродажи у контракта Presale вызвать #[b finishMinting()]#[br]Адрес контракта: #[b 0x720608228bda773fe22e816ee72463040f11c19e]
		li
			p По окончанию распродажи у контракта ICO вызвать #[b finishMinting()]#[br]Адрес контракта: #[b 0x766a0518ce0d022247d55d068d0b23db0e5ca7e5]
		li
			p Для вывода средств с контракта #[b Presale] нужно вызвать функцию #[b withdraw()].#[br]Во время #[b ICO] средства выводятся автоматически.
	p Перед вызовом убедитесь, что адрес контракта соответствует текущей распродаже!
	h2 Расположение адресов на странице контракта в etherscan.io
	h3 #[a(href="https://etherscan.io/address/0x720608228bda773fe22e816ee72463040f11c19e#readContract") Presale]
	p
		+image
	h3 #[a(href="https://etherscan.io/address/0x6e08a8b4da2a13c655af2dd74f7bdb979efe141b#readContract") ICO]
	p
		+image


